<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611492472753-bglcp2mfl864o532vk1k84aj5rkrb0qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611492472753-bglcp2mfl864o532vk1k84aj5rkrb0qp</string>
	<key>API_KEY</key>
	<string>AIzaSyDQoEqNKFNYEEWmG2yqa6WkFZrJGE4KUIM</string>
	<key>GCM_SENDER_ID</key>
	<string>611492472753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.eminokobayashi.Wish</string>
	<key>PROJECT_ID</key>
	<string>wish-f23fe</string>
	<key>STORAGE_BUCKET</key>
	<string>wish-f23fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611492472753:ios:5005b506606d91e0837f90</string>
</dict>
</plist>